a {
    text-decoration: none!important;
    color: #000;
}

a:hover {
    color: #999!important;
}

.parent_a_dropdown {
    font-weight: 400!important;
}

button:hover,
button:active,
button:focus {
    outline: none!important;
    border-style: none!important;
    box-shadow: none!important;
}

.input-custom {
    background: #fff!important;
    border: none;
    border-bottom: 1px solid #999;
    padding: 1em;
    font-size: 14px;
}

.input-custom:focus {
    border: none!important;
    border-bottom: 1px solid #1da324!important;
}

.card-pl h6 {
    font-size: 16px;
}

.submitProfile {
    line-height: 0px;
    font-size: 14px;
    padding: 20px;
}

.showOrderProfile {
    line-height: 0;
}

#loadAvatarProfile {
    border-radius: 10px;
    width: 200px;
    height: 163px;
}

.emp-profile .file {
    border-radius: 10px;
    width: 200px;
}

.profile-head {
    padding-top: 25px;
}

.showOrderDetail {
    line-height: 0;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9999;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-bottom: 16px solid #3498db;
    border-top: 16px solid #49f043;
    border-right: 16px solid #edea47;
    border-left: 16px solid #d12828;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
    display: none;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}